USE [master]
GO
/****** Object:  Database [EPS]    Script Date: 11/09/2022 10:28:32 p. m. ******/
CREATE DATABASE [EPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EPS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EPS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EPS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EPS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPS]
GO
/****** Object:  Table [dbo].[DataMaestra]    Script Date: 11/09/2022 10:28:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataMaestra](
	[nmdato] [varchar](150) NOT NULL,
	[nmmaestro] [varchar](150) NULL,
	[cddato] [varchar](20) NULL,
	[dsdato] [varchar](100) NULL,
	[cddato1] [varchar](100) NULL,
	[cddato2] [varchar](100) NULL,
	[cddato3] [varchar](100) NULL,
	[feregistro] [timestamp] NULL,
	[febaja] [datetime] NULL,
 CONSTRAINT [PK_DataMaestra] PRIMARY KEY CLUSTERED 
(
	[nmdato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maestras]    Script Date: 11/09/2022 10:28:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestras](
	[nmaestro] [varchar](150) NOT NULL,
	[cdmaestro] [varchar](5) NULL,
	[dsmaestro] [varchar](100) NULL,
	[feregistro] [timestamp] NULL,
	[febaja] [datetime] NULL,
 CONSTRAINT [PK_Maestras] PRIMARY KEY CLUSTERED 
(
	[nmaestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 11/09/2022 10:28:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[nmid] [int] NOT NULL,
	[nmid_persona] [int] NULL,
	[nmid_medicotra] [int] NULL,
	[dseps] [varchar](50) NULL,
	[dsarl] [varchar](50) NULL,
	[feregistro] [datetime] NULL,
	[febaja] [datetime] NULL,
	[cdusuario] [varchar](150) NULL,
	[dscondicion] [text] NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[nmid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 11/09/2022 10:28:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[nmid] [int] NOT NULL,
	[cddocumento] [varchar](20) NULL,
	[dsnombres] [varchar](60) NULL,
	[dsapellidos] [varchar](60) NULL,
	[fenacimiento] [date] NULL,
	[cdtipo] [varchar](10) NULL,
	[cdgenero] [varchar](10) NULL,
	[feregistro] [datetime] NULL,
	[febaja] [datetime] NULL,
	[cdusuario] [varchar](150) NULL,
	[dsdireccion] [varchar](200) NULL,
	[dsphoto] [varchar](500) NULL,
	[cdtelefono_fijo] [varchar](20) NULL,
	[cdtelefono_movil] [varchar](20) NULL,
	[dsemail] [varchar](200) NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[nmid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataMaestra]  WITH CHECK ADD  CONSTRAINT [FK_DataMaestra_Maestras] FOREIGN KEY([nmmaestro])
REFERENCES [dbo].[Maestras] ([nmaestro])
GO
ALTER TABLE [dbo].[DataMaestra] CHECK CONSTRAINT [FK_DataMaestra_Maestras]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Paciente] FOREIGN KEY([nmid_persona])
REFERENCES [dbo].[Personas] ([nmid])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Persona_Paciente]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK2_Persona_Paciente] FOREIGN KEY([nmid_medicotra])
REFERENCES [dbo].[Pacientes] ([nmid])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK2_Persona_Paciente]
GO
USE [master]
GO
